
 <%- include('partials/header.ejs') %>
 <%- include('partials/main_nav.ejs') %>
 <%- include('partials/content.ejs') %>
 
 
<!-- main content
<main class="container">
<div class="jumbotron">
  <h1 class="display-4">Welcome to the <%= title %> page</h1>
</div>
</main> -->

 

  
  <div id="ar">
    <img src="assets/photo_0.JPG"> 
    <a id="a1" href="https://sway.office.com/ADRZn2cSbEF6Awf0?authoringPlay=true&publish">Click here to look at my Resume</a>
   
   <div id="inf">
       <fieldset><legend>About Me</legend>
        
       Name: Chaeeun Kim(김채은)<br><br>
       Nationality: South Korea<br><br>
       Short discription: I like coding and do my best for my assignment.<br>
       My weekness is a strong nervousness and worries about my future and what i am doing.<br>
       My strength is doing my best always.
       </fieldset>
   </div> 
  </div>
  

 <%- include('partials/bottom_nav.ejs') %>
 <%- include('partials/footer.ejs') %>
  