 <%- include('partials/header.ejs') %>
 <%- include('partials/main_nav.ejs') %>
 <%- include('partials/content.ejs') %>
 
<!-- main content
<main class="container">
<div class="jumbotron">
  <h1 class="display-4">Welcome to the <%= title %> page</h1>
</div>
</main> -->
<div id="welcome">
Welcome to my home!<br><br>
I made this web page for portfolio<br> 
I want you guys having a good time in my web site!
    </div>
    <div id="mission">
         Mission statement<br><br>
        "Code and Code untill
         getting right output"
    </div>
<div id="buttonforindex">
    <button type="submit" class="btn btn-primary" id="directButton" style="WIDTH: 20%; HEIGHT: 50pt; font-size:30px">About me</button>
    </div>

 

 <%- include('partials/bottom_nav.ejs') %>
 <%- include('partials/footer.ejs') %>
  
