

 <%- include('partials/header.ejs') %>
 <%- include('partials/main_nav.ejs') %>
 <%- include('partials/content.ejs') %>

<div id=project1>
<img id="specification0"src="assets/specificatipn2.PNG">
<img id="specification1"src="assets/specification3.PNG">

<div id=short1>
   <h2>Short discription</h2>
   This is a specification of Musueam AR mobile application.<br>
    It was a gropup project for software methodology in semester2.<br>
    The biggest things that I contributed for this team work are
    sequence diagaram,and usecase.<br>
     We got almost full mark from this assignemnt.

</div>
</div>
<div id="project2">
    <img id="specification2" src="assets/specification4.PNG">
    <div id=short2>
        <h2>Short discription</h2>
        This team project is about creating specification of website for
        dementia pateient and their family.<br>
        We just started to work on it. 

    </div>

</div>
<div id="project3">
    <img id=web1 src="assets/web1.png">
    <img id=web2 src="assets/web2.png">
    <img id=web3 src="assets/web3.png">

    <div id="short3">
        <h3>Short description</h3>
        This project is creating form with database in c#<br>
        It was a last assignment of programming2 in semester2 <br>
        I was reallt excited to creat this project.<br>
        It was my first time to use c# with database
 </div>

</div>   
   
 <%- include('partials/bottom_nav.ejs') %>
 <%- include('partials/footer.ejs') %>