

 <%- include('partials/header.ejs') %>
 <%- include('partials/main_nav.ejs') %>
 <%- include('partials/content.ejs') %>


      <img id="pics" src="assets/web.jpg">
      <div id="dis">
          <h2>1.WEB DEVELPEMENT</h2>
      </div>
      <img  id="pics"src="assets/progrm.jpg">
      <div id="dis">
          <h2>2.GENERAL PROGRAMMING</h2>

      </div>
      <img id="pics" src="assets/mobile.jpg">
      <div id="dis">
          <h2>3.MOBILE APPLICATION</h2>
      </div>
      <img id="pics" src="assets/software.jpg">
      <div id="dis">
       <h2>4.SOFTWARE ENGINEERING</h2>   
      </div>
      <%- include('partials/bottom_nav.ejs') %>
 <%- include('partials/footer.ejs') %>